<header class="navbar navbar-expand-md">
  <h1>Ask Bazhenov</h1>
  <form class="form-inline my-4 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Ask" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0 bg-" type="submit">Ask</button>
  </form>
  <div class="indeficator pull-right">
    <div class="image icon">
      <img class="img-fluid" src="{{avatar}}" alt="Avatar">
    </div>
    <div class="inline">
      <div class="name">{{nick}}</div>
      <div class="personalRef">
        <a href="/settings.html">settings</a>
        <a href="">log out</a>
      </div>
    </div>
  </div>
</header>
